.bimage {
    background-image: url('https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
}

#main-nav {
    transition: background-color .4s ease-out;
    background-color: transparent !important;
}

#main-nav a.navbar-brand {
    color: white;
}

#main-nav a.nav-link {
    color: white !important;
}

#main-nav.active {
    background-color: white !important;
    transition: all .4s ease-out;
}

#main-nav.active a.navbar-brand {
    color: rgba(0, 0, 0, .9);
}

#main-nav.active a.nav-link {
    color: rgba(0, 0, 0, .9) !important;
}

#img-container {
    padding: 0;
    height: 100vh;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.timeline {
    position: relative;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.tl-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

    .tl-container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -12px;
        background-color: white;
        border: 4px solid #007e8a;
        top: 19px;
        border-radius: 50%;
        z-index: 1;
    }

.tl-left {
    left: 0;
}

.tl-right {
    left: 50%;
}

.tl-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.tl-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.tl-right::after {
    left: -12px;
}

.tl-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 768px) {
    .timeline::after {
        left: 31px;
    }

    .tl-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .tl-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .tl-left::after, .tl-right::after {
        left: 18px;
    }

    .tl-right {
        left: 0;
    }
}