@page
@model PersonalWebsite.Areas.Projects.Pages.IndexModel
@{
    ViewData["Title"] = "Projects - Niels Pressel";
}


<div class="container spacer">
    <h1>Projects</h1>

    <div class="mt-5">
        <h3>GitHub projects:</h3>
        <div class="list-group mt-4">
            @foreach (GithubService.GithubRepository repo in Model.Repositories)
            {
                <a class="list-group-item list-group-item-action" href="/Projects/Detail/@repo.RepositoryId">
                    <div class="row">
                        <div class="col-8">
                            <h4>@repo.Name</h4>
                            <p>@repo.Description</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/main_projects.js"></script>
}