@page
@model PersonalWebsite.Pages.ContactModel
@{
    ViewData["Title"] = "Contact - Niels Pressel";
}


<div class="container spacer">
    <h1>Contact</h1>

    <div class="mt-5">
        <p>Github: <a href="https://github.com/Sarius587">https://github.com/Sarius587</a></p>
        <p>Email: <a href="mailto:niels.pressel@gmail.de">niels.pressel@gmail.de</a></p>
    </div>
</div>
